
/* alkunäkymän asetukset */

#main-materials{
    background-image:  url("pictures/header_pic_walk.png");
}
#main-materials-mobile{
    background-image:  url("pictures/header_pic_walk.png");
}
.main-title-sub{
    font-family: 'Bowlby One SC';
   
    padding-bottom: 2rem;
    border-bottom: 5px dashed white;
    font-size: 3rem;
    border: none;
    white-space: pre-wrap;
    min-width: 50vw;
}
.name{
    font-size: 2.5rem;
}
.menu-buttons{
    justify-content: flex-start;
    width: 90%;
}


/* faktat */
.content{

    justify-content: center;
}
.fact-container{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
border: 0.25rem dashed #e3990f;
border-radius: 10px;

margin-bottom: 10vw;
}
.material-pic{
    display: flex;
margin-bottom: 1vw;
margin-top: 1vw;


width: 40vw;
height: 40vw;
}



@media (max-width:1100px) {

    #main-materials-mobile{
        background-position: 50%;
    }
    .title-background{
        top:35%;
        left: 50%;
        width: 100vw;
        align-items: center;
        text-align: center;
    }
    .main-title-sub{
        font-size: 2rem;
    }
    .name{
        font-size: 2rem;
    }
   
}
@media (max-width: 650px) {
    .main-title-sub{
        font-size: 1.5rem;
    }
    .name{
        font-size: 1.5rem;
    }
    .menu-buttons{
        justify-content: center;
        margin: 4vw;
    }
    .material-pic{
        margin-bottom: 5vw;
margin-top: 5vw;
width: 70vw;
height: 70vw;
    }

}