
#quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vw;
    margin-top: 0;
    width: 100%;
    font-size: 2vw;
   
    
    
}
#quiz-intro{

   
    text-align: center;
    width: 80%;
    font-family: 'League Spartan', sans-serif;
    color:  #5E5958 ;
   
    padding: 20px;
    max-width: 90%;
    border: 0.25rem dashed #e3990f;
    border-radius: 10px;

    
    margin-bottom: 5vw;
}
#question-container{
   
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    max-width: 90%;
    
    margin-top: 4vw;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#question{
   
    min-width: 40vw;
    color: #5E5958;
    font-size: 2vw;
    font-family: 'League Spartan', sans-serif;
    padding: 20px ;

    border: 0.25rem dashed #e3990f;
    border-radius: 10px;
    
    margin: 0;
}

#answer-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw ;
    max-width: 70%;
    align-self: center;
}

.answer-button{
   
    height: 4rem;
    min-width: 110%;
    
    border: 0.25rem dashed #e3990f;
    border-radius: 10px;

    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    animation: none !important;
    white-space: pre-wrap;
   
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.answer-button:hover{
    background-color: bisque;
   
}


.result-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}
#result-container{
    display: flex;
    justify-content: center; 
     
}
#result{
    display: flex;
    text-align: center;

    font-family: 'League Spartan', sans-serif;
    font-size: 2vw;
    color:  #5E5958;

   
    max-width: 50%;
    border: 0.25rem dashed #e3990f;
    border-radius: 10px;
    padding: 10px;
}
#retake-button{
    justify-content: center;
    align-items: center;
    padding: 1vw;
   
}
#retake-button:hover{
    animation: fadeBorderAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#number{
    margin-top: 2vw;
    font-family: 'League Spartan', sans-serif;
    font-size: 2vw;
    color:  #5E5958;
}
@media (max-width:1100px) {
   #quiz{
    font-size: 3.5vw;
   }
   #question{
    font-size: 3.5vw;
   }
   #result{
    font-size: 3.5vw;
   }
   #number{
    font-size: 3.5vw;
   }
}
@media (max-width: 650px) {
    .answer-button{
        width: 12rem;
        min-height: 3rem;
        font-size: 3.5vw;
    }
    
}