html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: rgb(201, 154, 93);
   
}

.main-view{
    display: flex;
    flex-direction: column;
   

    width: 60vw;
    min-height: 200vh;
    background-color: rgb(218, 190, 66);
}
.margin{
    display: flex;
    justify-content: center;
    min-height: 200vh;
    width: 20vw ;
}
#left{

}
.logo{
    height: 50px;
    width: 50px;
    background-color: aqua;
    margin-top: 2rem;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: baseline;

    justify-content: center;
    justify-content: space-between;

    justify-content: baseline;
    align-items: baseline;
    width: 100%;
    
    
}
.main-title{
    color: white;
    font-size: 2.5rem;
   padding-left: 1rem;
   white-space: nowrap;
   overflow: hidden;
    
}
.menu-buttons{
    display: flex;
    justify-content: space-around;
    justify-self: flex-end;
    padding-right: 5rem;
    
}
button{
    color: white;
}
.menu-button{
   height: 2rem;
    width: 4rem;

    font-size: 1.1rem;
  
    border: none;
    background-color: transparent;


}
#video-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 90%;
    
    
    

}

.video{
    padding: 20px;
    border-width: 4px;
    border-style: dashed;
    border-radius: 10px;
    border-color: bisque;
    
    
    
}
#pause-play{
    width: 4rem;
    align-self:flex-end;
    margin: 1vw;
    border: solid;
    background-color: transparent;
    min-width: 8vw;
    min-height: 2vw;
    font-size: large;
}
.legend{
    display: flex;
    flex-direction: row;

    
}


#about{
    max-width: 50%;
    color: white;
    font-size: 1.5rem;
   
    font-family: Inter;
    padding-left: 1rem;
}